<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.gita.todolistbyM" >

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList" >
        <activity
            android:name="uz.gita.todolistbyM.TasksActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ItemCheckListActivity" />
        <activity android:name=".activities.ItemCheckListWithBackActivity" />
        <activity android:name=".activities.RemovedActivity" />
        <activity android:name=".activities.ItemTaskWithBackActivity" />
        <activity android:name=".activities.ItemTaskActivity" />
    </application>

</manifest>